<div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/hero1.png" alt="iphone">

      <div class="carousel-item__description">
        <h4>iPhone 12 and iPhone 12 mini</h4>

        <p>
          A14 Bionic, the fastest chip in a smartphone. An edge-to-edge OLED display. Ceramic Shield with four times better drop performance. And Night mode on every camera. iPhone 12 has it all — in two perfect sizes.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/hero2.png" alt="iphone">

      <div class="carousel-item__description">
        <h4>Galaxy S21 Ultra 5G</h4>

        <p>
          Introducing Galaxy S21 Ultra 5G. Designed with a unique contour-cut camera to create a revolution in photography — letting you capture cinematic 8K video and snap epic stills, all in one go.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/hero3.png" alt="iphone">

      <div class="carousel-item__description">
        <h4>OnePlus 8T</h4>

        <p>
          The OnePlus 8T’s 6.55" Fluid AMOLED display3 delivers excellence in each frame. Transform your onscreen experience with a 120 Hz Fluid Display for seamless scrolling. And with a super-low response latency.
        </p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev carousel-control-btn" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next carousel-control-btn" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>