<form action="/search" method="POST" class="form__search">
  <input type="text" placeholder="Search products" name="searchTerm">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <button>
    <i class="fas fa-search"></i>
  </button>
</form>