<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/product.css">
</head>
<body>
  <%- include('../includes/navigation.ejs') %>

  <main>
    <div class="errorPage__container">
      Page Not Found! (404) Please press the button below to return to the home page.

      <div class="errorPage__btn--container">
        <a href="/" class="product__card__btn">Home</a>
      </div>

    </div>
  </main>

  <%- include('../includes/footer.ejs') %>
<%- include('../includes/end.ejs') %>