<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/forms.css">
  <link rel="stylesheet" href="/css/orders.css">
  <link rel="stylesheet" href="/css/product.css">
</head>
<body>
  <%- include ('../includes/navigation.ejs') %>

  <main>
    <div class="infoPage__container">
      <h2>Contact Us</h2>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel imperdiet nunc, quis ultricies quam. Maecenas nibh lacus, maximus non mauris in, laoreet vulputate nibh. Suspendisse aliquet eros non felis commodo interdum. Ut cursus ipsum non eros elementum dignissim. Aenean vestibulum augue vel justo commodo, a facilisis elit vestibulum. Fusce semper quis quam eget vehicula. Duis ac finibus elit.
      </p>

      <p>
        Sed sed arcu in justo elementum suscipit a at magna. Mauris commodo eros vitae facilisis ullamcorper. Quisque venenatis urna dignissim posuere malesuada. Nunc ultrices sollicitudin turpis, ut ultrices massa fringilla et. Suspendisse ligula mauris, sodales eget leo quis, aliquet gravida lacus. In mollis, ipsum vitae ornare pellentesque, est mauris pulvinar augue, quis convallis lorem eros vitae velit. Vestibulum vehicula auctor tincidunt. Nam accumsan odio ut urna viverra vehicula. Morbi vel maximus justo, semper viverra mi. Aenean in porttitor odio. Fusce eu consectetur neque. Proin ac tincidunt sem. Nullam sed nulla eget leo sodales lacinia vel ut metus. Integer ac turpis diam.
      </p>

      <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas elementum blandit felis malesuada sagittis. Maecenas laoreet velit sed purus posuere, malesuada volutpat ligula porttitor. Donec nibh orci, elementum vel augue sed, sollicitudin tempor mi. Cras id turpis vel turpis consectetur luctus a et dolor. Ut sed nibh et ante blandit faucibus. Vivamus sem nisl, laoreet sed velit et, eleifend dignissim felis. Mauris a auctor arcu, vitae elementum ex. Aliquam erat volutpat.</p>
    </div>
  </main>

  <%- include('../includes/footer.ejs') %>
<%- include('../includes/end.ejs') %>